.players-table {
    width: 100%;
}

.spinner-container {
    padding: 35px;
    .mat-spinner {
        margin: 0 auto;
    }
}

.mat-row {
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,0.05);
    }
}