<app-main-container>
    <app-main-container-card>
        <div *ngIf='(player$ | async) as player'>
            <div class='spinner-container' *ngIf='player.loading'>
                <mat-spinner color="primary" diameter="48" strokeWidth="3.84"></mat-spinner>
              </div>
            <div *ngIf='player.data && player.loaded'>
                <div class='title-container'>
                    <h2>
                        <mat-icon *ngIf='player.data.status === playerStatus.Active'>person</mat-icon>  
                        <mat-icon *ngIf='player.data.status === playerStatus.Disabled'>person_off</mat-icon>  
                        <span>{{player.data.name}} {{player.data.surname}}</span>
                    </h2>
                </div>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Details">
                        <!-- TODO: this can be changed to a component and allow edit functionality -->
                        <div class='player-details-table'>
                            <div class='label'>ID:</div><div class='prop'>{{player.data.id}}</div>
                            <div class='label'>Name:</div><div class='prop'>{{player.data.name}}</div>
                            <div class='label'>Surname:</div><div class='prop'>{{player.data.surname}}</div>
                            <div class='label'>Email:</div><div class='prop'>{{player.data.email}}</div>
                            <div class='label'>Status:</div><div class='prop'>{{player.data.status}}</div>
                            <div class='label'>Balance:</div><div class='prop'>{{player.data.balance | currencyFormat}}</div>
                            <div class='label'>Registration Timestamp:</div><div class='prop'>{{player.data.registrationTimestamp}}</div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Transactions">
                        <div *ngIf='playerTransactions$ | async as playerTransactions'>
                            <div *ngIf='playerTransactions.loaded && noItems' class='no-items'>
                                <mat-icon>report</mat-icon> This player does not have any transactions yet
                            </div>
                            <table mat-table [dataSource]="dataSource" class="transactions-table" *ngIf='playerTransactions.loaded && !noItems'>

                                <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> ID </th>
                                  <td mat-cell *matCellDef="let transaction"> 
                                    {{transaction.id}} 
                                  </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="type">
                                  <th mat-header-cell *matHeaderCellDef> Type </th>
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="amount">
                                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="status">
                                  <th mat-header-cell *matHeaderCellDef> Status </th>
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.status}} </td>
                                </ng-container>
                              
                                 <ng-container matColumnDef="timestamp">
                                  <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.timestamp}} </td>
                                </ng-container>
                    
                        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </app-main-container-card>
</app-main-container>