
<mat-sidenav-container
    class="example-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    
    <a
      (click)="sidenav.close()"
      mat-ripple
      routerLink="/players"
      routerLinkActive="active"
      class='menu-link'
    >
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine>Players</span>
      </mat-list-item>
    </a>
       
  </mat-sidenav>

  <mat-sidenav-content>
   
    
    <mat-toolbar color="primary" class='main-toolbar'>
      <div>
        <button mat-icon-button class="icon" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Admin Portal</span>
      </div>
      
      <!-- <span class="spacer"></span> -->
     <div>
       <h5>Welcome David Mifsud</h5>
       <button mat-icon-button class="icon" (click)='logout()'>
        <mat-icon>logout</mat-icon>
      </button>
     </div>
      
    </mat-toolbar>
     
     <div class='main-content-wrapper'>
       <router-outlet></router-outlet>
     </div>


  </mat-sidenav-content>
</mat-sidenav-container>

