
<mat-sidenav-container
    class="example-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>

    <mat-nav-list>
      <a mat-list-item routerLink="/players" (click)="sidenav.close()">
        <mat-icon mat-list-icon>group</mat-icon>
        <span matLine>Players</span>
      </a>
    </mat-nav-list>
       
  </mat-sidenav>

  <mat-sidenav-content>
   
    
    <mat-toolbar color="primary" class='main-toolbar'>
      <div>
        <div *ngIf='loggedInUser$ | async as loggedInUser'>
          <button *ngIf='loggedInUser.data && loggedInUser.loaded' mat-icon-button class="icon" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span>Admin Portal</span>
      </div>
      
      <!-- <span class="spacer"></span> -->
     <div *ngIf='loggedInUser$ | async as loggedInUser'>
      <div *ngIf='loggedInUser.data && loggedInUser.loaded' class='welcome-container'>
        <h5>Welcome {{loggedInUser.data.name}} {{loggedInUser.data.surname}}</h5>
        <button mat-icon-button class="icon" (click)='logout()'>
          <mat-icon>logout</mat-icon>
        </button>
      </div>
     </div>
      
    </mat-toolbar>
     
     <div class='main-content-wrapper'>
       <router-outlet></router-outlet>
     </div>


  </mat-sidenav-content>
</mat-sidenav-container>

