.main-content-wrapper {
    position: relative;
    // min-height: calc(100vh - 124px);
}

.menu-link {
    display: block;
    min-width: 260px;
}


.main-toolbar {
    position: fixed;
    z-index: 9001;

    display: flex;
    justify-content: space-between;
    
    & > div {
        display: flex;
        align-items: center;
    }

    h5 {
        font-size: 12px;
    }
}