<form
		(ngSubmit)="onSubmit()"
		[formGroup]="loginForm"
		name="form"
		novalidate
    class='login-form'
	>

  <mat-card>
      <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
        <mat-card-subtitle>Back Office Portal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        
          
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type='button'>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
      

      </mat-card-content>
      <mat-card-actions *ngIf='loggedInUser$ | async as loggedInUser'>
        <p *ngIf='loggedInUser.error' class='error-message'>An error occurred. Please try again.</p>
        <button mat-flat-button color="primary" type='submit' [disabled]='loggedInUser.loading'>
          {{loggedInUser.loading ? 'LOADING&hellip;' : 'LOGIN'}}
        </button>
      </mat-card-actions>
    </mat-card>

  </form>